@page "/servers"
@attribute [Authorize]
@if (Loading)
{
    <div class="card-body center">
        <span class="icon is-large">
            <i class="fas fa-lg fa-solid fa-spinner fa-spin"></i>
        </span>
    </div>
}
else if (Servers is null)
{
    <p>Er zijn geen servers...</p>
}
else
{
    <h1 class="is-title-3">Fysieke Servers</h1>
    <div class="columns is-desktop is-multiline">
        @foreach (var server in Servers)
        {
            <div class="column is-one-third-widescreen is-half-desktop">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-header-title">@server.Name</h3>
                        <div class="card-header-icon">
                            <i class="fa-solid fa-square-poll-vertical fa-2x" @onclick="() => RedirectToDetailsPage(server.Id)"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>Id: @server.Id</p>
                        <p>Naam: @server.Name</p>
                        <p>Serveradres: @server.ServerAddress</p>
                        <br>
                    </div>
                </div>
            </div>

        }
    </div>

}