@using Smart.Blazor

@if (Loading)
{
    <div class="card-body center">
        <span class="icon is-large">
            <i class="fas fa-lg fa-solid fa-spinner fa-spin"></i>
        </span>
    </div>
}
else
{
    <EditForm Model="@model" OnSubmit="@LoginUser">
        <h3>Login met je account waarmee je op de app in logt.</h3>
        <p class="has-text-danger"> @text </p>

        <div class="is-5">
            <label class="label">Email: </label>
            <InputText class="input w-25" @bind-Value="@model.Email" />
        </div>
        <div class="is-5">
            <label class="label">Wachtwoord:</label>
            <input class="input w-25" type="password" @bind="@model.Password"> </input>
        </div>
        <button type="submit" class="button mt-2">Log in</button>
    </EditForm>
}
